@import url(//fonts.googleapis.com/css?family=Open+Sans);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/IY9HZVvI1cMoAHxvl0w9LVKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/rZPI2gHXi8zxUjnybc2ZQFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/MgNNr5y1C_tIEuLEmicLmwLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
*/
/****** NEW FONTS *****/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 'Hairline';
  src: local("Montserrat Hairline"), local("Montserrat-Hairline"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-hairline-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-hairline-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-hairline-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-hairline-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-hairline-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Ultralight';
  font-style: normal;
  src: local("Montserrat Ultralight"), local("Montserrat-Ultralight"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-ultralight-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-ultralight-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-ultralight-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-ultralight-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-ultralight-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Light';
  font-style: normal;
  src: local("Montserrat Light"), local("Montserrat-Light"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-light-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-light-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-light-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-light-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-light-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-regular-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-regular-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-regular-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-regular-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-regular-webfont.svg#montserrat-regular) format("svg"); }
@font-face {
  font-family: 'Montserrat-Semibold';
  font-style: normal;
  src: local("Montserrat Semibold"), local("Montserrat-Semibold"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-semibold-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-semibold-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-semibold-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-semibold-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-semibold-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-bold-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-bold-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-bold-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-bold-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-bold-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Extrabold';
  font-style: normal;
  src: local("Montserrat Extrabold"), local("Montserrat-Extrabold"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-extrabold-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-extrabold-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-extrabold-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-extrabold-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-extrabold-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Black';
  font-style: normal;
  src: local("Montserrat Black"), local("Montserrat-Black"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-black-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-black-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-black-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-black-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-black-webfont.svg) format("svg"); }
/*
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/IY9HZVvI1cMoAHxvl0w9LVKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/rZPI2gHXi8zxUjnybc2ZQFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/MgNNr5y1C_tIEuLEmicLmwLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
*/
/****** NEW FONTS *****/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 'Hairline';
  src: local("Montserrat Hairline"), local("Montserrat-Hairline"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-hairline-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-hairline-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-hairline-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-hairline-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-hairline-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Ultralight';
  font-style: normal;
  src: local("Montserrat Ultralight"), local("Montserrat-Ultralight"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-ultralight-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-ultralight-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-ultralight-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-ultralight-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-ultralight-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Light';
  font-style: normal;
  src: local("Montserrat Light"), local("Montserrat-Light"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-light-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-light-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-light-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-light-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-light-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-regular-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-regular-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-regular-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-regular-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-regular-webfont.svg#montserrat-regular) format("svg"); }
@font-face {
  font-family: 'Montserrat-Semibold';
  font-style: normal;
  src: local("Montserrat Semibold"), local("Montserrat-Semibold"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-semibold-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-semibold-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-semibold-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-semibold-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-semibold-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-bold-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-bold-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-bold-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-bold-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-bold-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Extrabold';
  font-style: normal;
  src: local("Montserrat Extrabold"), local("Montserrat-Extrabold"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-extrabold-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-extrabold-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-extrabold-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-extrabold-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-extrabold-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Black';
  font-style: normal;
  src: local("Montserrat Black"), local("Montserrat-Black"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-black-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-black-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-black-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-black-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-black-webfont.svg) format("svg"); }
html,
body,
.Map {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background: #FFFFFF;
  font-size: 16px;
  line-height: 1.5;
  color: #222326;
  font-family: "Monsterrat-regular", "Gotham", "Proxima Nova", "Proxima-Nova", "Helvetica", "Helvetica-Neue", Helvetica, Arial, sans-serif;
  background-color: #f8f8f8;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow: hidden; }

a {
  font-family: 'Open sans', sans-serif; }

/*# sourceMappingURL=app.css.map */

.Button {
  font-family: 'Open Sans', sans-serif;
  padding: 10px 16px;
  border: none;
  background: #2ECC71;
  border-radius: 3px;
  font-size: 14px;
  color: #FFFFFF;
  box-shadow: 0px 3px 0px rgba(33, 128, 72, 0.9);
  cursor: pointer;
  z-index: 10;
  outline: none; }
  .Button:hover {
    background: #27AF61; }

.Button--addLocation {
  position: absolute;
  top: 80px;
  right: 20px; }

.Button--close {
  position: absolute;
  top: -12px;
  right: -12px;
  background: #fff;
  z-index: 10;
  color: #333;
  box-shadow: none;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 0;
  width: 35px;
  height: 35px;
  font-size: 10px;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle; }
  .Button--close:hover {
    background: #f1f1f1; }

.Button.is-disabled {
  background-color: #DCDCDC;
  box-shadow: 0px 3px 1px rgba(177, 175, 175, 0.9);
  color: #848484; }
  .Button.is-disabled:hover {
    background-color: #DCDCDC; }

.Button.is-hidden {
  display: none; }

/*# sourceMappingURL=button.css.map */

.Comments {
  background: #F1F1F1;
  border-top: 1px solid #DDD;
  padding: 20px; }

.CommentList {
  opacity: 0;
  margin: 0 10px 20px 0; }

.CommentList-item {
  margin: 0 10px 10px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #CCC; }
  .CommentList-item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none; }

.CommentList-itemDate {
  text-align: right;
  display: block;
  margin: 0 0 3px 0;
  font-size: 12px;
  color: #666; }

.Comments-inner {
  display: flex; }

.Comments-form {
  flex: 1; }

.Comments-form .InputField-area {
  margin: 0 0 20px 0; }

.Comments-form .InputArea {
  height: 200px; }

.Comments-content {
  flex: 1;
  padding: 0 20px 0 0; }

.Comments .scroll-pane {
  width: 100%;
  height: 300px;
  overflow: auto; }

/*# sourceMappingURL=comment.css.map */

.Dialog {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000; }

.Dialog.is-hidden {
  display: none; }

.Dialog-inner {
  position: relative;
  width: 560px;
  background: #FFF;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 50px 50px 100px 50px;
  box-sizing: border-box;
  text-align: center; }

.Dialog-content {
  width: 300px;
  margin: auto;
  font-family: 'Open sans', sans-serif;
  font-size: 15px;
  font-weight: 300; }

.Dialog-inner .Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px;
  text-align: center;
  box-sizing: border-box;
  width: 100%; }

.Dialog h2 {
  font-weight: bold;
  font-size: 25px;
  color: #444444;
  line-height: 38px;
  margin: 0 0 20px 0; }

.Dialog-content p {
  font-size: 14px;
  color: #444444;
  line-height: 26px; }

.Dialog-logo {
  background: url(/img/confirmation-icon.png) no-repeat;
  width: 82px;
  height: 82px;
  margin: auto auto 10px auto; }

/*# sourceMappingURL=dialog.css.map */

/*
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/IY9HZVvI1cMoAHxvl0w9LVKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/rZPI2gHXi8zxUjnybc2ZQFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/MgNNr5y1C_tIEuLEmicLmwLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
*/
/****** NEW FONTS *****/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 'Hairline';
  src: local("Montserrat Hairline"), local("Montserrat-Hairline"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-hairline-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-hairline-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-hairline-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-hairline-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-hairline-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Ultralight';
  font-style: normal;
  src: local("Montserrat Ultralight"), local("Montserrat-Ultralight"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-ultralight-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-ultralight-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-ultralight-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-ultralight-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-ultralight-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Light';
  font-style: normal;
  src: local("Montserrat Light"), local("Montserrat-Light"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-light-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-light-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-light-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-light-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-light-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-regular-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-regular-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-regular-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-regular-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-regular-webfont.svg#montserrat-regular) format("svg"); }
@font-face {
  font-family: 'Montserrat-Semibold';
  font-style: normal;
  src: local("Montserrat Semibold"), local("Montserrat-Semibold"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-semibold-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-semibold-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-semibold-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-semibold-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-semibold-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-bold-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-bold-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-bold-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-bold-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-bold-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Extrabold';
  font-style: normal;
  src: local("Montserrat Extrabold"), local("Montserrat-Extrabold"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-extrabold-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-extrabold-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-extrabold-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-extrabold-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-extrabold-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Black';
  font-style: normal;
  src: local("Montserrat Black"), local("Montserrat-Black"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-black-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-black-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-black-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-black-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-black-webfont.svg) format("svg"); }

/*# sourceMappingURL=font.css.map */

/*
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/IY9HZVvI1cMoAHxvl0w9LVKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/rZPI2gHXi8zxUjnybc2ZQFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/MgNNr5y1C_tIEuLEmicLmwLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
*/
/****** NEW FONTS *****/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 'Hairline';
  src: local("Montserrat Hairline"), local("Montserrat-Hairline"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-hairline-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-hairline-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-hairline-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-hairline-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-hairline-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Ultralight';
  font-style: normal;
  src: local("Montserrat Ultralight"), local("Montserrat-Ultralight"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-ultralight-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-ultralight-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-ultralight-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-ultralight-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-ultralight-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Light';
  font-style: normal;
  src: local("Montserrat Light"), local("Montserrat-Light"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-light-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-light-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-light-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-light-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-light-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-regular-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-regular-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-regular-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-regular-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-regular-webfont.svg#montserrat-regular) format("svg"); }
@font-face {
  font-family: 'Montserrat-Semibold';
  font-style: normal;
  src: local("Montserrat Semibold"), local("Montserrat-Semibold"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-semibold-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-semibold-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-semibold-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-semibold-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-semibold-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-bold-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-bold-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-bold-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-bold-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-bold-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Extrabold';
  font-style: normal;
  src: local("Montserrat Extrabold"), local("Montserrat-Extrabold"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-extrabold-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-extrabold-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-extrabold-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-extrabold-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-extrabold-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Black';
  font-style: normal;
  src: local("Montserrat Black"), local("Montserrat-Black"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-black-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-black-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-black-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-black-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-black-webfont.svg) format("svg"); }
/*
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/IY9HZVvI1cMoAHxvl0w9LVKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/rZPI2gHXi8zxUjnybc2ZQFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/MgNNr5y1C_tIEuLEmicLmwLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
*/
/****** NEW FONTS *****/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 'Hairline';
  src: local("Montserrat Hairline"), local("Montserrat-Hairline"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-hairline-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-hairline-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-hairline-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-hairline-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-hairline-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Ultralight';
  font-style: normal;
  src: local("Montserrat Ultralight"), local("Montserrat-Ultralight"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-ultralight-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-ultralight-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-ultralight-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-ultralight-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-ultralight-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Light';
  font-style: normal;
  src: local("Montserrat Light"), local("Montserrat-Light"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-light-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-light-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-light-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-light-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-light-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-regular-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-regular-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-regular-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-regular-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-regular-webfont.svg#montserrat-regular) format("svg"); }
@font-face {
  font-family: 'Montserrat-Semibold';
  font-style: normal;
  src: local("Montserrat Semibold"), local("Montserrat-Semibold"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-semibold-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-semibold-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-semibold-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-semibold-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-semibold-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-bold-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-bold-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-bold-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-bold-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-bold-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Extrabold';
  font-style: normal;
  src: local("Montserrat Extrabold"), local("Montserrat-Extrabold"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-extrabold-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-extrabold-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-extrabold-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-extrabold-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-extrabold-webfont.svg) format("svg"); }
@font-face {
  font-family: 'Montserrat-Black';
  font-style: normal;
  src: local("Montserrat Black"), local("Montserrat-Black"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-black-webfont.eot) format("eot"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-black-webfont.woff2) format("woff2"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-black-webfont.woff) format("woff"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-black-webfont.ttf) format("truetype"), url(http://www.marcorighetto.it/Typography/Monserrat-Webkit/montserrat-black-webfont.svg) format("svg"); }
.Header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: row;
  flex-flow: space-around;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 100vw;
  padding: 2vh;
  background: #333333;
  color: #FFFFFF;
  font-family: "Monsterrat-regular", "Gotham", "Proxima Nova", "Proxima-Nova", "Helvetica", "Helvetica-Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box; }

.HeaderTitle {
  flex: 1;
  color: #FFFFFF;
  padding: 0.7vh;
  text-decoration: none;
  text-transform: none;
  font-family: "Monsterrat-regular", "Gotham", "Proxima Nova", "Proxima-Nova", "Helvetica", "Helvetica-Neue", Helvetica, Arial, sans-serif;
  font-weight: 400; }
  @media screen and (min-width: 768px) {
    .HeaderTitle {
      font-size: 24px; } }
  @media screen and (max-width: 768px) {
    .HeaderTitle {
      font-size: 19.2px; } }

.HeaderItems {
  flex: 1;
  text-align: right; }

.HeaderItem {
  display: inline-block;
  color: #FFFFFF; }

.HeaderItem-link {
  border: none;
  outline: none;
  background: none;
  color: #FFFFFF;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Monsterrat-regular", "Gotham", "Proxima Nova", "Proxima-Nova", "Helvetica", "Helvetica-Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  padding: 5px;
  font-weight: lighter; }
  .HeaderItem-link:hover {
    text-decoration: none;
    cursor: pointer;
    animation-name: navBar-hover;
    animation-duration: .3s;
    color: #00D5A5; }

.HeaderItem-link.is-selected {
  border: 1px solid #00D5A5; }

@keyframes navBar-hover {
  0% {
    color: #FFFFFF; }
  100% {
    color: #00D5A5; } }
@-webkit-keyframes navBar-hover {
  0% {
    color: #FFFFFF; }
  100% {
    color: #00D5A5; } }
@keyframes btnInfo-hover {
  0% {
    background: #00D5A5; }
  100% {
    background: #53F9D4; } }

/*# sourceMappingURL=header.css.map */

.InputField {
  font-family: 'Open Sans', sans-serif;
  width: 100%; }

.Input {
  width: 100%;
  height: 100%;
  padding: 10px 7px;
  background-color: #FFF;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  outline: none;
  border: 1px solid #CCC;
  border-radius: 2px; }
  .Input:hover {
    border-color: #AAA; }
  .Input:focus {
    border-color: #2ECC71; }

.InputArea {
  height: 100px; }

.InputField.has-error .Input {
  border-color: red; }

.InputCheck {
  cursor: pointer; }

.InputCheck-label {
  cursor: pointer; }

/*# sourceMappingURL=input_field.css.map */

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer {
  overflow: hidden;
  position: relative; }

.jspPane {
  position: absolute; }

.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%; }

.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px; }

.jspCap {
  display: none; }

.jspHorizontalBar .jspCap {
  float: left; }

.jspTrack {
  background: #DDD;
  position: relative;
  border-radius: 20px; }

.jspDrag {
  background: #AAA;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  border-radius: 20px; }

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%; }

.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0; }

.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d; }

.jspVerticalBar .jspArrow {
  height: 16px; }

.jspHorizontalBar .jspArrow {
  width: 10px;
  float: left;
  height: 100%; }

.jspVerticalBar .jspArrow:focus {
  outline: none; }

.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%; }

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
  margin: 0 -3px 0 0; }

/*# sourceMappingURL=jquery.css.map */

.LikeButtons {
  margin: 0 0 10px 0; }

.LikeButtons-title {
  margin: 0 0 3px 0;
  font-size: 12px; }

.LikeButtons-list {
  display: inline-block; }

.LikeButtons-listItem {
  display: inline-block;
  margin: 0 5px 0 0; }

.LikeButton {
  display: block;
  border: none;
  width: 15px;
  height: 15px;
  cursor: pointer;
  z-index: 10;
  outline: none;
  opacity: 0.7;
  background: transparent url(/img/hand_up.png) no-repeat; }

.LikeButton--dislike {
  background: transparent url(/img/hand_down.png) no-repeat; }

.LikeButton.is-selected {
  opacity: 1; }

/*# sourceMappingURL=like_button.css.map */

.LikesList {
  padding: 4px 0 10px 0; }

.LikesList-item {
  display: inline-block;
  font-size: 13px; }

.LikesList-item--total,
.LikesList-item--like,
.LikesList-item--dislike {
  margin: 0 10px 0 0; }

.LikesList-item--total:before,
.LikesList-item--like:before,
.LikesList-item--dislike:before {
  position: relative;
  top: 2px;
  margin: 0 3px 0 0;
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px; }

.LikesList-item--like:before {
  background: transparent url(/img/hand_up.png) no-repeat; }

.LikesList-item--dislike:before {
  background: transparent url(/img/hand_down.png) no-repeat; }

.LikesList-item--total:before {
  width: 16px;
  height: 14px;
  background: transparent url(/img/total.png) no-repeat; }

/*# sourceMappingURL=likes.css.map */

.LocationForm {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000; }

.LocationForm-inner {
  position: relative;
  background: #FFF;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px 20px 60px 20px;
  box-sizing: border-box;
  text-align: left;
  box-sizing: border-box;
  background: #fff;
  width: 500px;
  border-radius: 2px;
  z-index: 1000;
  box-sizing: border-box; }

.LocationForm-content {
  display: none;
  margin: auto;
  font-family: 'Open sans', sans-serif;
  font-size: 15px;
  font-weight: 300; }

.LocationForm-fields {
  font-family: 'Open sans', sans-serif; }

.LocationForm-field {
  margin: 0 0 20px 0; }

.LocationForm-label {
  display: block;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #ccc; }

.LocationForm.is-hidden {
  display: none; }

.LocationForm .Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  width: 100%; }

.LocationForm-fields {
  font-family: 'Open Sans', sans-serif; }

.LocationForm-field {
  margin: 0 0 20px 0; }

.LocationForm-label {
  display: block;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #ccc; }

/*# sourceMappingURL=location.css.map */

.LocationForm-fields {
  font-family: 'Open Sans', sans-serif; }

.LocationForm-field {
  margin: 0 0 20px 0; }

.LocationForm-label {
  display: block;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #ccc; }

.LocationForm {
  position: absolute;
  box-sizing: border-box;
  background: #fff;
  width: 500px;
  height: 550px;
  margin-left: -250px;
  margin-top: -275px;
  top: 50%;
  left: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  z-index: 1000; }

.LocationForm-inner {
  position: relative;
  padding: 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box; }

.LocationForm-fields {
  font-family: 'Open sans', sans-serif; }

.LocationForm-field {
  margin: 0 0 20px 0; }

.LocationForm-label {
  display: block;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #ccc; }

.LocationForm.is-hidden {
  display: none; }

.LocationForm .Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  width: 100%; }

/*# sourceMappingURL=location_form.css.map */

.LocationInformation {
  font-family: 'Open Sans', sans-serif; }

.LocationInformation-title {
  border-bottom: 1px solid #ccc;
  margin: 0px 20px 20px;
  padding: 0 0px 10px 0; }

.LocationInformation-name {
  display: block;
  font-weight: bold;
  margin: 0 0 5px 0; }

.LocationInformation-address {
  display: block;
  color: #ccc;
  font-weight: normal;
  font-size: 14px; }

.LocationInformation-fields {
  font-family: 'Open Sans', sans-serif; }

.LocationInformation-field {
  padding: 0 20px;
  margin: 0 0 20px 0; }

.LocationInformation-label {
  display: block;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  font-size: 15px; }

.LocationInformation .Button--close {
  top: -32px; }

.LocationInformation {
  padding: 20px 0 0 0;
  position: absolute;
  box-sizing: border-box;
  background: #fff;
  width: 700px;
  margin-left: -350px;
  margin-top: -225px;
  top: 50%;
  left: 50%;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 2px; }

.LocationInformation-inner {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box; }

.LocationInformation.is-hidden {
  display: none; }

/*# sourceMappingURL=location_information.css.map */

.Map {
  position: absolute;
  width: 100%; }

.Map .cartodb-logo {
  z-index: 99 !important; }

.Map .cartodb-tiles-loader {
  position: absolute;
  left: auto;
  top: 81px;
  left: 565px; }

.Map .cartodb-tiles-loader .loader {
  margin: 0;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 36px;
  height: 36px; }

.Map .cartodb-zoom {
  margin: 0;
  left: 20px;
  top: 80px;
  border: 1px solid transparent;
  width: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }

.Map .cartodb-zoom > a {
  height: 18px;
  width: 25px; }
  .Map .cartodb-zoom > a.zoom_in {
    background-position: -69px 5px; }
    .Map .cartodb-zoom > a.zoom_in:hover {
      background-position: -69px 6px; }
  .Map .cartodb-zoom > a.zoom_out {
    background-position: -96px 5px; }
    .Map .cartodb-zoom > a.zoom_out:hover {
      background-position: -96px 6px; }

/*# sourceMappingURL=map.css.map */

.Page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000; }

.Page.is-hidden {
  display: none; }

.Page-inner {
  position: relative;
  width: 80%;
  height: 400px;
  background: #FFF;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 12px; }

.Page-content {
  width: 400px;
  height: 200px;
  font-family: 'Open sans', sans-serif;
  font-size: 15px;
  font-weight: 300; }

.Page .scroll-pane {
  width: 100%;
  height: 200px;
  overflow: auto; }

/*# sourceMappingURL=page.css.map */

.Popup .leaflet-popup-content-wrapper {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background: #FFF;
  color: #333;
  font-size: 14px;
  line-height: 24px;
  border-radius: 2px;
  padding: 10px;
  position: relative; }

.Popup .leaflet-popup-content-wrapper a {
  color: rgba(255, 255, 255, 0.5); }

.Popup .leaflet-popup-tip-container {
  width: 30px;
  height: 15px; }

.Popup .leaflet-popup-tip-container .leaflet-popup-tip {
  font-family: 'Open Sans', sans-serif;
  background: #FFF;
  margin: -15px auto 0; }

.Popup a.leaflet-popup-close-button {
  color: #333;
  z-index: 10;
  font-weight: normal; }

.Popup-addressName {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  line-height: 30px; }

/*# sourceMappingURL=popup.css.map */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*# sourceMappingURL=reset.css.map */

.SearchField {
  position: absolute;
  width: 500px;
  height: 40px;
  top: 80px;
  left: 55px;
  z-index: 10; }

.SearchInput {
  border: 1px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 0 50px 0 13px;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis; }
  .SearchInput:focus {
    border: 1px solid transparent; }
  .SearchInput:hover {
    border: 1px solid transparent; }

/*# sourceMappingURL=search.css.map */
