@import 'reset';
@import url(//fonts.googleapis.com/css?family=Open+Sans);

html,
body,
.Map {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #FFFFFF;
  font-size: 16px;
  line-height: 1.5;
  color: #222326;
  font-family: 'Open sans', sans-serif;
  //background-color: #f8f8f8;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  font-family: 'Open sans', sans-serif;
}

