.Button {
  font-family: 'Open Sans', sans-serif;
  padding: 10px 16px;
  border: none;
  background: #2ECC71;
  border-radius: 3px;
  font-size: 14px;
  color: #FFFFFF;
  box-shadow: 0px 3px 0px rgba(33, 128, 72, 0.9);
  cursor: pointer;
  z-index: 10;
  outline: none;
  &:hover {
    background: #27AF61;

  }
}

.Button--addLocation {
  position: absolute;
  top: 80px;
  right: 20px;
}

.Button--addLocationSmall {
}

.Button--close {
  background: #fff;
  z-index: 10;
  color: #333;
  box-shadow: none;
  box-sizing: border-box;
  width: 100%;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  &:hover {
    background: #ffffff;
  }
  justify-content: flex-end;
  font-size: 1.2em;
  border: none;
}

.Button.is-disabled {
  background-color: #DCDCDC;
  box-shadow: 0px 3px 1px rgba(177, 175, 175, 0.9);
  color: #848484;
  &:hover {
    background-color: #DCDCDC;
  }
}

.Button.is-hidden {
  display: none;
}
