.Comments {
  background: #F1F1F1;
  border-top: 1px solid #DDD;
  padding: 20px;
}
.CommentList {
  margin: 0 10px 20px 0;
}
.CommentList-item {
  margin: 0 10px 10px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #CCC;
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
  }
}
.CommentList-item p {
  line-height: 120%;
  font-size: 14px;
}

.CommentList-itemDate {
  text-align: left;
  display: block;
  padding: 12px 0 0 0;
  margin: 0 0 3px 0;
  font-size: 10px;
  color: #666;
}

.Comments-inner {
  display: flex;
}

.Comments-form {
  flex: 1;
}
.Comments-form .InputField-area {
  margin: 0 0 20px 0;
}

.Comments-form .InputArea {
  height: 150px;
}

.Comments-content {
  flex: 1;
  padding: 0 20px 0 0;
}

.Comments .scroll-pane {
  width: 100%;
  height: 325px;
  overflow: auto;
  outline: none;
}

.CommentList-username {
  padding: 2px 0 8px 0;
  font-size: 11px;
  text-align: left;
  color: #666;
}
