
.Dialog {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0, .5);
  z-index: 1000;
}

.Dialog.is-hidden {
  display: none;
}

.Dialog-inner {
  position: relative;
  width: 560px;
  background: #FFF;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding-bottom: 20px;
  box-sizing: border-box;
  text-align: center;
}

.ThanksDialogInner {
    padding: 20px 50px;
    width: auto;
}

.Dialog-message {
    font-size: 25px;
}

.Dialog-content {
  width: 300px;
  margin: auto;
  font-family: 'Open sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.Dialog-inner .Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}

.Dialog h2 {
  font-weight: bold;
  font-size: 25px;
  color: #444444 ;
  line-height: 38px;
  margin: 0 0 20px 0;
}

.Dialog-content p {
  font-size: 14px;
  color: #444444 ;
  line-height: 26px;
}

.Dialog-logo {
  background: url(/img/confirmation-icon.png) no-repeat;
  width: 82px;
  height: 82px;
  margin: auto auto 10px auto;
}
@media screen and (max-width: 470px) {
    .Dialog-inner.js-content {
        width: 300px;
    }

    .ThanksDialogInner {
        padding: 20px 20px;
    }

    div.Dialog-logo {
        margin: auto auto 20px auto;
    }

    div.Dialog-content {
        width: 250px;
        margin: 0 auto;
    }

    div.Dialog-message {
        font-size: 18px;
    }
}
