.Header {
  display: flex;
  flex-direction: row;
  //flex-flow: space-around;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  background: #333333;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
.HeaderTitle {
  flex: 1;
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  font-family: 'Open Sans', sans-serif;
}
.HeaderItems {
  flex: 1;
  text-align: right;
}
.HeaderItem {
  display: inline-block;
  color: #FFFFFF;
}

.HeaderItem-link {
  text-decoration: none;
  display: block;
  padding: 3px 5px;
  border: none;
  outline: none;
  background: none;
  color: #FFFFFF;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}
.HeaderItem-link.is-selected {
  border: 1px solid #00D5A5;
}
