@import 'font';
@import '_typography';
@import "_mediaqueries";

$header-spacing: 2vh;
$header-padding: 0.7vh;

.Header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: row;
  flex-flow: space-around;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 100vw;
  padding: $header-spacing;
  background: #333333;
  color: #FFFFFF;
  font-family: $Monsterrat-regular;
  box-sizing: border-box;
}
.HeaderTitle {
  flex: 1;
  color: #FFFFFF;
  padding: $header-padding;
  @media screen and (min-width: $break-tablet) {
  font-size: $h1-size;
}

  @media screen and (max-width: $break-tablet) {
  font-size: $h1-size/5*4;
}
  text-decoration: none;
  text-transform: none;
  font-family: $Monsterrat-regular;
  font-weight: $regular;
}

.HeaderItems {
  flex: 1;
  text-align: right;
}
.HeaderItem {
  display: inline-block;
  color: #FFFFFF;
}
.HeaderItem-link {
  border: none;
  outline: none;
  background: none;
  color: #FFFFFF;
  font-size: 14px;
  text-transform: uppercase;
  font-family: $Monsterrat-regular;
  text-decoration: none;
  padding: 5px;
  font-weight: lighter;
  &:hover {
    text-decoration: none;
    cursor: pointer;
    animation-name: navBar-hover;
    animation-duration: .3s;
    color: #00D5A5;
  }
}
.HeaderItem-link.is-selected {
  border: 1px solid #00D5A5;
}

@keyframes navBar-hover {
 0% {color: #FFFFFF;}
 100% {color: #00D5A5;}  
}

@-webkit-keyframes navBar-hover {
 0% {color: #FFFFFF;}
 100% {color: #00D5A5;}  
}

@keyframes btnInfo-hover{
  0% {background: #00D5A5;}
  100% {background: #53F9D4;
  }
}