.LikeButtons {
  margin: 0 0 10px 0;
}
.LikeButtons-title {
  margin: 0 0 3px 0;
  font-size: 12px;
}

.LikeButtons-list {
  display: inline-block;
}

.LikeButtons-listItem {
  display: inline-block;
  margin: 0 5px 0 0;
}

.LikeButton {
  display: block;
  border: none;
  width: 15px;
  height: 15px;
  cursor: pointer;
  z-index: 10;
  outline: none;
  opacity: 0.7;

  background: transparent url(/img/hand_up.png) no-repeat;

  &:hover {
  }
}

.LikeButton--dislike {
  background: transparent url(/img/hand_down.png) no-repeat;
}

.LikeButton.is-selected {
  opacity: 1;
}
