.LocationInformation {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background: rgba(0,0,0, .5);
  z-index: 1000;
  overflow-y: scroll;
  align-items: center;
}

@media screen and (max-width: 470px) {

    .LocationInformation-title {
        margin: 0px 20px 8px;
        padding: 0 0px 5px 0;
    }

    .LocationInformation {
        align-items: flex-start;
    }
}

.LocationInformation-inner {
  background: #FFF;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  position: relative;
  text-align: left;
  width: 750px;
  z-index: 1000;
}

.LocationInformation-content {
  margin: auto;
  font-family: 'Open sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: normal;
}
.LocationInformation-content a {
  color: #00D5A5;
}

.LocationInformation-title {
  border-bottom: 1px solid #ccc;
  margin: 0px 20px 20px;
  padding: 0 0px 10px 0;
}

.LocationInformation-name {
  display: block;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.LocationInformation-address {
  display: block;
  color: #ccc;
  font-weight: normal;
  font-size: 14px;
}

.LocationInformation-fields {
  font-family: 'Open Sans', sans-serif;
}

.LocationInformation-field {
  padding: 0 20px;
  margin: 0 0 20px 0;
}

.LocationInformation-label {
  display: block;
  font-weight: bold;
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
  font-size: 14px;
}

