@media screen and (max-width: 360px) {
    .LocationForm-inner.js-content {
        top: 120px;
        width: 290px; 
    }
}
.LocationForm {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0, .5);
  z-index: 1000;
}

.LocationForm-inner {
  position: relative;
  background: #FFF;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px 20px 60px 20px;
  box-sizing: border-box;
  text-align: left;
  box-sizing: border-box;
  background: #fff;
  width: 500px;
  border-radius: 2px;
  z-index: 1000;
  box-sizing: border-box;
}

.LocationForm-content {
  display: block;
  margin: auto;
  font-family: 'Open sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.LocationForm-fields {
  font-family: 'Open sans', sans-serif;
}
.LocationForm-field {
  margin: 0 0 20px 0;
}

.LocationForm-label {
  display: block;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #ccc;
}


.LocationForm.is-hidden {
  display: none;
}

.LocationForm .Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}

.LocationForm-fields {
  font-family: 'Open Sans', sans-serif;
}

.LocationForm-field {
  margin: 0 0 20px 0;
}

.LocationForm-label {
  display: block;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #ccc;
}

