.Map {
  position: absolute;
  width: 100%;
}
.Map .cartodb-logo {
  z-index: 99;
}
.Map .cartodb-tiles-loader {
  position: absolute;
  left: auto;
  top: 10px;
  left: 565px;
}

.Map .cartodb-tiles-loader .loader {
  margin: 0;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 36px;
  height: 36px;
}

.Map .cartodb-zoom {
  margin: 0;
  left: 20px;
  top: 10px;
  border: 1px solid transparent;
  width: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.Map .cartodb-zoom > a {
  height: 18px;
  width: 25px;
  &.zoom_in {
    background-position: -69px 5px;
    &:hover { 
      background-position: -69px 6px;
    }
  }
  &.zoom_out {
    background-position: -96px 5px;
    &:hover { 
      background-position: -96px 6px;
    }
  }
}

.GeoLocateButton {
    z-index: 10000;
    position: fixed;
    bottom: 15px;
    right: 15px;
}