.StaticPage-container {
    overflow-y: scroll;
}

.title-container {
    padding: 30px 100px 30px 100px;
    background-color: #F8E81C;
    color: black;
}

.StaticPage {
  padding: 100px;
  text-align: left;
  box-sizing: border-box;
  font-family: 'Open sans', sans-serif;
  font-size: 24px;
  line-height: 1.5;
}

.bold {
    font-weight: bold;
}

.StaticPage-headline {
    font-size: 72px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.StaticPage-subheader {
    margin-bottom: 50px;
    font-size: 36px;
    text-align: center;
}

.StaticPage h2{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 32px;
  font-weight: bold;
}

.StaticPage-title {
  font-weight: bold;
  font-size: 18px;
  color: #333 ;
  line-height: normal;
  margin-bottom: 30px;
  text-transform: nonee;
}

.StaticPage h3{
  font-weight: lighter;
  font-size: 32px;
}

.StaticPage h4 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 15px 0px;
}

.StaticPage h5 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    font-size: 14px;
    color: #444444;
}

.StaticPage a {
  font-weight: lighter;
  font-size: 12px;
  color: #444444;
  line-height: 0;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}

.subtitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
}

.subheader {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.tos-content {
    font-size: 14px;
    p {
        margin-bottom: 20px;
    }
    ul {
        list-style: lower-roman;
        list-style-position: inside;
    }
}

.Outreach {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    .social-proof {
        width: 150px;
        margin: 0px 15px 0px 15px;
        img {
            width: 150px; 
        }
    }
}

@media screen and (max-width: 470px) {
    .StaticPage {
        padding: 20px;
    }

    .StaticPage-headline {
        font-size: 36px;
        margin-bottom: 15px;
    }

    .StaticPage-subheader {
        font-size: 24px;
    }

    .social-proof {
        margin: 0px 0px 15px 0px;
    }

    .StaticPage {
        font-size: 16px;
    }

    .StaticPage h3 {
        font-size: 24px; 
    }

    .StaticPage h4 {
        font-size: 16px;
    }

    .title-container {
        padding: 20px;
    }
}
