.StaticPage {
  text-align: left;
  box-sizing: border-box;
  font-family: 'Open sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
.StaticPage-title {
  font-weight: bold;
  font-size: 18px;
  color: #333 ;
  line-height: normal;
}

.StaticPage h2{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 32px;
  font-weight: bold;
}

.StaticPage h3{
  font-weight: lighter;
  font-size: 32px;
}

.StaticPage h4 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.StaticPage h5 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    font-size: 14px;
    color: #444444;
}

.StaticPage a {
  font-weight: lighter;
  font-size: 12px;
  color: #444444;
  line-height: 0;
}


