.StaticPage-container {
    padding: 100px;
    overflow-y: scroll;
}

.StaticPage {
  text-align: left;
  box-sizing: border-box;
  font-family: 'Open sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
.StaticPage-title {
  font-weight: bold;
  font-size: 18px;
  color: #333 ;
  line-height: normal;
  margin-bottom: 30px;
}

.StaticPage h2{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 32px;
  font-weight: bold;
}

.StaticPage h3{
  font-weight: lighter;
  font-size: 32px;
}

.StaticPage h4 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 15px 0px;
}

.StaticPage h5 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    font-size: 14px;
    color: #444444;
}

.StaticPage a {
  font-weight: lighter;
  font-size: 12px;
  color: #444444;
  line-height: 0;
}


@media screen and (max-width: 470px) {
    .StaticPage-container {
        padding: 20px;
    }

    .StaticPage h3 {
        font-size: 24px; 
    }
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}

.subtitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
}

.subheader {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.tos-content {
    font-size: 14px;
    p {
        margin-bottom: 20px;
    }
    ul {
        list-style: lower-roman;
        list-style-position: inside;
    }
}
