.Welcome-inner {
    padding-top: 20px;
}

.Welcome-content {
    font-size: 14px;

    .Welcome-title {
        font-size: 18px;
        font-weight: bold;

    }

    .Welcome-subtitle {
        font-size: 24px;
        font-weight: bold;
        text-align: center;

    }

    .Welcome-message {

    }

    .Button-container {
        padding-top: 20px;
    }

}
