@import url(//fonts.googleapis.com/css?family=Open+Sans);.Comments {
  background: #F1F1F1;
  border-top: 1px solid #DDD;
  padding: 20px; }

.CommentList {
  margin: 0 10px 20px 0; }

.CommentList-item {
  margin: 0 10px 10px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #CCC; }
  .CommentList-item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none; }

.CommentList-item p {
  line-height: 120%;
  font-size: 14px; }

.CommentList-itemDate {
  text-align: left;
  display: block;
  padding: 12px 0 0 0;
  margin: 0 0 3px 0;
  font-size: 10px;
  color: #666; }

.Comments-inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.Comments-form {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.Comments-form .InputField-area {
  margin: 0 0 20px 0; }

.Comments-form .InputArea {
  height: 150px; }

.Comments-content {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 20px 0 0; }

.Comments .scroll-pane {
  width: 100%;
  height: 325px;
  overflow: auto;
  outline: none; }

.CommentList-username {
  padding: 2px 0 8px 0;
  font-size: 11px;
  text-align: left;
  color: #666; }
.LocationInformation {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow-y: scroll;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

@media screen and (max-width: 470px) {
  .LocationInformation-title {
    margin: 0px 20px 8px;
    padding: 0 0px 5px 0; }
  .LocationInformation {
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start; } }

.LocationInformation-inner {
  background: #FFF;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  position: relative;
  text-align: left;
  width: 750px;
  z-index: 1000; }

.LocationInformation-content {
  margin: auto;
  font-family: 'Open sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: normal; }

.LocationInformation-content a {
  color: #00D5A5; }

.LocationInformation-title {
  border-bottom: 1px solid #ccc;
  margin: 0px 20px 20px;
  padding: 0 0px 10px 0; }

.LocationInformation-name {
  display: block;
  font-weight: bold;
  margin: 0 0 5px 0; }

.LocationInformation-address {
  display: block;
  color: #ccc;
  font-weight: normal;
  font-size: 14px; }

.LocationInformation-fields {
  font-family: 'Open Sans', sans-serif; }

.LocationInformation-field {
  padding: 0 20px;
  margin: 0 0 20px 0; }

.LocationInformation-label {
  display: block;
  font-weight: bold;
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
  font-size: 14px; }
.LikeButtons {
  margin: 0 0 20px 0; }

.LikeButtons-title {
  margin: 0 0 3px 0;
  font-size: 12px; }

.LikeButtons-response {
  margin: -2px 0 0 0;
  padding: 0 0 0 14px;
  font-size: 12px; }

.LikeButtons-list {
  display: inline-block; }

.LikeButtons-listItem {
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 8px 25px 8px 0px; }

.LikeButton {
  display: block;
  border: none;
  width: 15px;
  height: 15px;
  cursor: pointer;
  z-index: 10;
  outline: none;
  opacity: 0.7;
  background: transparent url(/img/hand_up.png) no-repeat; }
  .LikeButton:hover {
    opacity: 1; }

.LikeButton--dislike {
  background: transparent url(/img/hand_down.png) no-repeat; }

.LikeButton.is-selected {
  opacity: 1; }
.InputField {
  font-family: 'Open Sans', sans-serif;
  width: 100%; }

.Input {
  width: 100%;
  height: 100%;
  padding: 10px 7px;
  background-color: #FFF;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  outline: none;
  border: 1px solid #CCC;
  border-radius: 2px; }
  .Input:hover {
    border-color: #AAA; }
  .Input:focus {
    border-color: #2ECC71; }

.InputArea {
  height: 100px; }

.InputField.has-error .Input {
  border-color: red; }

.InputCheck {
  cursor: pointer; }

.InputCheck-label {
  cursor: pointer; }
.Button {
  font-family: 'Open Sans', sans-serif;
  padding: 10px 16px;
  border: none;
  background: #2ECC71;
  border-radius: 3px;
  font-size: 14px;
  color: #FFFFFF;
  box-shadow: 0px 3px 0px rgba(33, 128, 72, 0.9);
  cursor: pointer;
  z-index: 10;
  outline: none; }
  .Button:hover {
    background: #27AF61; }

.Button--addLocation {
  position: absolute;
  top: 80px;
  right: 20px; }

.Button--close {
  background: #fff;
  z-index: 10;
  color: #333;
  box-shadow: none;
  box-sizing: border-box;
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 10px 0 0;
  font-size: 1.2em; }
  .Button--close:hover {
    background: #ffffff; }

.Button.is-disabled {
  background-color: #DCDCDC;
  box-shadow: 0px 3px 1px rgba(177, 175, 175, 0.9);
  color: #848484; }
  .Button.is-disabled:hover {
    background-color: #DCDCDC; }

.Button.is-hidden {
  display: none; }
@media screen and (max-width: 360px) {
  .LocationForm-inner.js-content {
    top: 120px;
    width: 290px; } }

.LocationForm {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000; }

.LocationForm-inner {
  position: relative;
  background: #FFF;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px 20px 60px 20px;
  box-sizing: border-box;
  text-align: left;
  box-sizing: border-box;
  background: #fff;
  width: 500px;
  border-radius: 2px;
  z-index: 1000;
  box-sizing: border-box; }

.LocationForm-content {
  display: block;
  margin: auto;
  font-family: 'Open sans', sans-serif;
  font-size: 15px;
  font-weight: 300; }

.LocationForm-fields {
  font-family: 'Open sans', sans-serif; }

.LocationForm-field {
  margin: 0 0 20px 0; }

.LocationForm-label {
  display: block;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #ccc; }

.LocationForm.is-hidden {
  display: none; }

.LocationForm .Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  width: 100%; }

.LocationForm-fields {
  font-family: 'Open Sans', sans-serif; }

.LocationForm-field {
  margin: 0 0 20px 0; }

.LocationForm-label {
  display: block;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #ccc; }
.Map .SearchField {
  position: absolute;
  width: 500px;
  height: 40px;
  top: 10px;
  left: 55px;
  z-index: 10; }

@media screen and (max-width: 470px) {
  .Map .SearchField {
    width: 80%;
    left: 0;
    margin-left: 10%; } }

@media screen and (max-width: 360px) {
  .HeaderItem-link {
    font-size: 11px; }
  .HeaderTitle {
    font-size: 18px; } }

.SearchInput {
  border: 1px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 0 50px 0 13px;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis; }
  .SearchInput:focus {
    border: 1px solid transparent; }
  .SearchInput:hover {
    border: 1px solid transparent; }
.Map {
  position: absolute;
  width: 100%; }

.Map .cartodb-logo {
  z-index: 99; }

.Map .cartodb-tiles-loader {
  position: absolute;
  left: auto;
  top: 10px;
  left: 565px; }

.Map .cartodb-tiles-loader .loader {
  margin: 0;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 36px;
  height: 36px; }

.Map .cartodb-zoom {
  margin: 0;
  left: 20px;
  top: 10px;
  border: 1px solid transparent;
  width: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }

.Map .cartodb-zoom > a {
  height: 18px;
  width: 25px; }
  .Map .cartodb-zoom > a.zoom_in {
    background-position: -69px 5px; }
    .Map .cartodb-zoom > a.zoom_in:hover {
      background-position: -69px 6px; }
  .Map .cartodb-zoom > a.zoom_out {
    background-position: -96px 5px; }
    .Map .cartodb-zoom > a.zoom_out:hover {
      background-position: -96px 6px; }
@media screen and (max-width: 470px) {
  .Dialog-inner.js-content {
    width: 300px;
    padding: 50px 20px 100px 20px; }
  div.Dialog-logo {
    margin: auto auto 20px auto; }
  div.Dialog-content {
    width: 250px;
    margin: 0 auto; }
  div.Dialog-message {
    font-size: 18px; } }

.Dialog {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000; }

.Dialog.is-hidden {
  display: none; }

.Dialog-inner {
  position: relative;
  width: 560px;
  background: #FFF;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 50px 50px 100px 50px;
  box-sizing: border-box;
  text-align: center; }

.Dialog-message {
  font-size: 25px; }

.Dialog-content {
  width: 300px;
  margin: auto;
  font-family: 'Open sans', sans-serif;
  font-size: 15px;
  font-weight: 300; }

.Dialog-inner .Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px;
  text-align: center;
  box-sizing: border-box;
  width: 100%; }

.Dialog h2 {
  font-weight: bold;
  font-size: 25px;
  color: #444444;
  line-height: 38px;
  margin: 0 0 20px 0; }

.Dialog-content p {
  font-size: 14px;
  color: #444444;
  line-height: 26px; }

.Dialog-logo {
  background: url(/img/confirmation-icon.png) no-repeat;
  width: 82px;
  height: 82px;
  margin: auto auto 10px auto; }
.LikesList {
  padding: 4px 0 10px 0; }

.LikesList-item {
  display: inline-block;
  font-size: 13px; }

.LikesList-item--total,
.LikesList-item--like,
.LikesList-item--dislike {
  margin: 0 10px 0 0; }

.LikesList-item--total:before,
.LikesList-item--like:before,
.LikesList-item--dislike:before {
  position: relative;
  top: 2px;
  margin: 0 3px 0 0;
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px; }

.LikesList-item--like:before {
  background: transparent url(/img/hand_up.png) no-repeat; }

.LikesList-item--dislike:before {
  background: transparent url(/img/hand_down.png) no-repeat; }

.LikesList-item--total:before {
  width: 16px;
  height: 14px;
  background: transparent url(/img/total.png) no-repeat; }
@media screen and (max-width: 470px) {
  .Popup {
    width: 300px; } }

.Popup .leaflet-popup-content-wrapper {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background: #FFF;
  color: #333;
  font-size: 14px;
  line-height: 24px;
  border-radius: 2px;
  padding: 10px;
  position: relative; }

.Popup .leaflet-popup-content-wrapper a {
  color: rgba(255, 255, 255, 0.5); }

.Popup .leaflet-popup-tip-container {
  width: 30px;
  height: 15px; }

.Popup .leaflet-popup-tip-container .leaflet-popup-tip {
  font-family: 'Open Sans', sans-serif;
  background: #FFF;
  margin: -15px auto 0; }

.Popup a.leaflet-popup-close-button {
  color: #333;
  z-index: 10;
  font-weight: normal; }

.Popup-addressName {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  line-height: 30px; }
.Header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 20px;
  background: #333333;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box; }

.HeaderTitle {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  font-family: 'Open Sans', sans-serif; }
  @media screen and (max-width: 470px) {
    .HeaderTitle {
      font-size: 16px; } }

.HeaderItems {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right; }

.HeaderItem {
  display: inline-block;
  color: #FFFFFF; }

.HeaderItem-link {
  text-decoration: none;
  display: block;
  padding: 3px 5px;
  border: none;
  outline: none;
  background: none;
  color: #FFFFFF;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter; }
  @media screen and (max-width: 470px) {
    .HeaderItem-link {
      font-size: 11px; } }

.HeaderItem-link.is-selected {
  border: 1px solid #00D5A5; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body,
.Map {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background: #FFFFFF;
  font-size: 16px;
  line-height: 1.5;
  color: #222326;
  font-family: 'Open sans', sans-serif;
  background-color: #f8f8f8;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow: hidden; }

a {
  font-family: 'Open sans', sans-serif; }
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(https://fonts.gstatic.com/s/lato/v11/IY9HZVvI1cMoAHxvl0w9LVKPGs1ZzpMvnHX-7fPOuAc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(https://fonts.gstatic.com/s/lato/v11/22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v11/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(https://fonts.gstatic.com/s/lato/v11/rZPI2gHXi8zxUjnybc2ZQFKPGs1ZzpMvnHX-7fPOuAc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(https://fonts.gstatic.com/s/lato/v11/MgNNr5y1C_tIEuLEmicLmwLUuEpTyoUstqEm5AMlJo4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
.StaticPage {
  text-align: left;
  box-sizing: border-box;
  font-family: 'Open sans', sans-serif;
  font-size: 16px;
  line-height: 1.5; }

.StaticPage-title {
  font-weight: bold;
  font-size: 18px;
  color: #333;
  line-height: normal; }

.StaticPage h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 32px;
  font-weight: bold; }

.StaticPage h3 {
  font-weight: lighter;
  font-size: 32px; }

.StaticPage h4 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px; }

.StaticPage h5 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-size: 14px;
  color: #444444; }

.StaticPage a {
  font-weight: lighter;
  font-size: 12px;
  color: #444444;
  line-height: 0; }
