<div class="Comments-inner">
  <div class="Comments-content js-comments">
    <label class="LocationInformation-label">Comments</label>
    <div class="js-likes"></div>
    <ul class="CommentList js-comment-list scroll-pane"></ul>
  </div>
  <div class="Comments-form">
    <label class="LocationInformation-label">Add something to the conversation!</label>
    <div class="InputField InputField-area js-field">
      <textarea placeholder="Feel free to add tips, warnings, comments or review about '<%- name %>'" class="Input InputArea js-comment"></textarea>
    </div>

    <li class="LocationForm-field">
      <label class="LocationForm-label">Your name or initials (optional)</label>
      <div class="InputField js-field">
        <input type="text" class="Input js-username" value="" />
      </div>
    </li>

    <div class="LikeButtons">
      <p class="LikeButtons-title">Would you recommend this location to others?</p>
      <ul class="LikeButtons-list">
        <li class="LikeButtons-listItem"><button class="LikeButton js-like" data-value="1"><p class="LikeButtons-response">Yes</p></button></li>
        <li class="LikeButtons-listItem"><button class="LikeButton LikeButton--dislike js-like" data-value="0"><p class="LikeButtons-response">No</p></button></li>
      </ul>
    </div>
    
    <button class="Button is-disabled js-ok">Add comment</button>
  </div>
</div>
