<div class="Dialog-content">
  <div class="Dialog-logo"></div>
  <h2><%- title %></h2>
  <p><%- text %></p>
</div>
<footer class="Footer">
  <button class="Button js-ok"><%- ok_button %></button>
</footer>
<button class="Button Button--close js-cancel">✕</button>
