<a href="<%- url %>" class="HeaderTitle">
  <%- title %>
</a>

<ul class="HeaderItems">
  <li class="HeaderItem"><a href='/' class="HeaderItem-link is-selected js-item js-map">Map</a></li>
  <li class="HeaderItem"><a href='/about' class="HeaderItem-link js-item js-about">About</a></li>
  <li class="HeaderItem"><a href='/privacy' class="HeaderItem-link js-item js-privacy">Privacy</a></li>
</ul>
