<ul class="LikesList">
  <li class="LikesList-item"><span class="LikesList-item--like"><%- likes %></span></li>
  <li class="LikesList-item"><span class="LikesList-item--dislike"><%- dislikes %></span></li>
  <li class="LikesList-item"><span class="LikesList-item--total"><%- total %></span></li>
</ul>
