<div class="LocationInformation-content">

  <div class="LocationInformation-title">
    <h2 class="LocationInformation-name"><%- name %></h2>
    <h4 class="LocationInformation-address"><%- address %></h4>
  </div>

  <ul class="LocationInformation-fields js-fields">
    <% if (offerings) { %>
    <li class="LocationInformation-field">
      <label class="LocationInformation-label">Can offer help with</label>
      <p><%- offerings %></p>
    </li>
    <% } %>
    <% if (description) { %>
    <li class="LocationInformation-field">
      <label class="LocationInformation-label">Description and tips</label>
      <p class='js-description'><%- description %></p>
    </li>
    <% } %>
  </ul>

  <button class="Button Button--close js-cancel">✕</button>
</div>
