<p>
  <strong class="Popup-addressName"><% if (name) { %><%-name %>, <% } %><%- address %></strong> <br/> is not part of Streetlives yet. Do you want to add this location to the map?
</p>

<button class="Button Button--addLocationSmall js-add-location">Add location</button>
